.flex{
    display: flex;
}

.w-full{
    width: 100%;
}

.space-between{
    justify-content: space-between;
}

.bs-bb{
    box-sizing: border-box;
}

.post img{
    width: 100% !important;
    margin: 0px auto;
}

div .wp-caption{
    width: 100% !important;
}